<style>
        h1 {
            color: #2e7d4c;
            font-family: 'Arial', sans-serif;
            text-transform: uppercase;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
            color:#502c4b;
            background-color: #a56be8;
            padding:10px;
            font-style: italic;
        }
        ::highlight {
            color: #000;
            font-weight: bold;
            background-color: #54ad72;
            padding: 5px;
        }
        .topnav {
            background-color: #333;
            overflow: hidden;
        }
        .topnav a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .topnav a:hover {
            background-color: #f2f2f2;
            color: black;
        }
    </style>